* {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
	}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
  max-width: 100%;
  font-size: 20px;
  color: white;
  min-height: 100%;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  overflow:hidden;
  width:100%;
}
body {
overflow-x: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

a svg{
transition:all .5s ease;

&:hover{
  #transform:rotate(180deg);
}
}

#ico{
display: none;
}

.menu{
background: #000;
display: none;
padding: 5px;
width: 320px;
@include border-radius(5px);

#transition: all 0.5s ease;

a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 2px;
  margin: 3px 0;
  text-decoration: none;
  background: #444;

  &:nth-child(1){
    margin-top: 0;
    @include border-radius(3px 3px 0 0 );
  }
  &:nth-child(5){
    margin-bottom: 0;
    @include border-radius(0 0 3px 3px);
  }

  &:hover{
    background: #555;
  }
}
}
.sidenav {
  transition: 0s; 
}

#main {
  transition: margin-left 0s;
}
.pageAccueil {
	font-family: "Permanent Marker", cursive;
	display: Flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.video {
   background-size: cover;
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -100;
}


.fond01 {
  background-image: url("../img/fond01.jpg");
  background-size: cover;
}

.fond02 {
  background-image: url("../img/fond02.jpg");
  background-size: cover;
  
}

.fond03 {
  background-image: url("../img/fond03.jpg");
  background-size: cover;
}

.fond04 {
  background-image: url("../img/fond04.jpg");
  background-size: cover;
  display: Flex;
}

.fond05 {
  background-image: url("../img/fond05.jpg");
  background-size: cover;
}

.fond06 {
  background-image: url("../img/fond06.jpg");
  background-size: cover;
}

h2 {
	font-family: 'Gugi', cursive;
  font-weight: bold;
  font-size: 30px;
}

P {
	font-family: 'Gugi', cursive;
  font-size: 20px;
}

/*position section*/
#page {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-top: -250px;
  height: 560px;
}

/*marge entre section*/
section {
  margin-bottom: 60px;
}

/*centrage*/
header {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	background-color: rgba(190,181,202,0.5);
	border-radius: 25px;
	box-shadow: black 2px 2px 2px;
}

/*centrage*/
.margeGauche {
  text-align: center;
}

/*marge à droite*/
.margeDroite {
  position: absolute;
  left: 65%;
  width: 30%;
}

/*formulaire*/
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 180px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
  color: Grey;
	width: 350px;
	height: 100px;
	max-width: 350px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: black;
}

input {
  color: Grey;
}

/*bouton*/
button {
	width: 80px;
	height: 30px;
	background-color: Grey;
	color: black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
