* {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
	}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
  max-width: 100%;
  font-size: 20px;
  color: white;
  min-height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.pageAccueil {
	font-family: "Permanent Marker", cursive;
	display: Flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.video {
   background-size: cover;
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -100;
}


.fond01 {
  background-image: url("../img/fond01.jpg");
  background-size: cover;
}

.fond02 {
  background-image: url("../img/fond02.jpg");
  background-size: cover;
  
}

.fond03 {
  background-image: url("../img/fond03.jpg");
  background-size: cover;
}

.fond04 {
  background-image: url("../img/fond04.jpg");
  background-size: cover;
  display: Flex;
}

.fond05 {
  background-image: url("../img/fond05.jpg");
  background-size: cover;
}

.fond06 {
  background-image: url("../img/fond06.jpg");
  background-size: cover;
}

h2 {
	font-family: 'Gugi', cursive;
  font-weight: bold;
  font-size: 30px;
}

P {
	font-family: 'Gugi', cursive;
  font-size: 20px;
}

/*position section*/
#page {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-top: -250px;
  height: 560px;
}

/*marge entre section*/
section {
  margin-bottom: 60px;
}

/*centrage*/
header {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	background-color: rgba(190,181,202,0.5);
	border-radius: 25px;
	box-shadow: black 2px 2px 2px;
}

/*centrage*/
.margeGauche {
  text-align: center;
}

/*marge à droite*/
.margeDroite {
  position: absolute;
  left: 65%;
  width: 30%;
}

/*formulaire*/
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 180px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
  color: Grey;
	width: 350px;
	height: 100px;
	max-width: 350px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: black;
}

input {
  color: Grey;
}

/*bouton*/
button {
	width: 80px;
	height: 30px;
	background-color: Grey;
	color: black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
